
.add-review-modal-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(1,1,1,0.8);
    z-index: 2;
}

.review-rating-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review-rating-container h5 {
    margin-bottom: 0;
}

.rating-method-selection {
    display: flex;
    justify-content: start;
    align-items: start;
}

.rating-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.add-review-container {
    width: 30%;
    height: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr1bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.add-review-container h4 {
    color: var(--clr2)
}


.review-rating-container label {
    line-height: 2.4;
}



.review-modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30px;
    right: -20px;
}



.add-review-container form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.edit-book-submit-btn {
    margin-block-start: 15px;

}