
.add-review-modal-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(1,1,1,0.8);
}

.review-rating-container {
    display: flex;
    flex-direction: row;
}

.add-review-container {
    width: 35%;
    height: 35%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.rating-stars-container {
    display: flex;
    width: 20%;
    vertical-align: baseline;
}

.review-rating-container label {
    line-height: 2.4;
}

.star {
    font-size: 2rem;
    cursor: pointer;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.star:hover:before,
.star:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: yellow;
    
}

.star.selected:before {
    content: "\2605";
    color: yellow;
    position: absolute;

}

.review-modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15px;
    right: -15px;
}

.