.book-list-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    width: 95vw;
    height: 95vh;
    flex-wrap: wrap;
    gap: 10px;
    
}

.book-list-container li {
    border: 4px solid rgba(219, 32, 219, 0.349);
    box-shadow: 0 0 40px rgba(231, 130, 192, 0.5);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-block-end: 
}

a {
    display: block;
    margin: 0 auto;
}

.book-preview-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 10px;
}

