.book-list-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
    
}

.book-list-container li {
    border: 4px solid rgba(219, 32, 219, 0.349);
    box-shadow: 0 0 40px rgba(231, 130, 192, 0.5);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; 
    position: relative;
}

.books-li-x-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 1px;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.book-preview-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 10px;
    gap: 10px;    
}

.book-preview-options a,
.book-preview-options button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 10px;
    gap: 10px;
    margin: 0 auto;
    
}
