.book-preview-container {
    display: grid;
    grid-template-areas: 
        'title img'
        'author img'
        'price img'
        'description description'
    ;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    border: 4px solid rgba(219, 32, 219, 0.349);
    box-shadow: 0 0 40px rgba(231, 130, 192, 0.5);
    gap: 5px;
    background-color: #fff;
}

.book-preview-container span {
    font-size: .8rem;

}

.book-preview-container span:nth-child(1){
    grid-area: title;
    font-size: 1.2rem;
    font-variant: small-caps;
}

.book-preview-container span:nth-child(2){
    grid-area: author;
}

.book-preview-container span:nth-child(3){
    grid-area: price;
}

.book-preview-container p {
    grid-area: description;
    text-align: justify;
    font-size: 0.8rem;
}

.book-preview-container img {
    grid-area: img;
    grid-row: 1 / 4;        
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: stretch;
    justify-self: center;
}