.book-list-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    width: 100%;
    height: 100%;
    gap: 10px;
    margin: 0 auto;
    
}

.book-list-container li {
    background-color: var(--clr1bg-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
    border: 2px solid var(--clr2)
}


.books-li-x-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 1px;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.book-preview-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 10px;
    vertical-align: middle;
}

.book-preview-options > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0 ;
    margin: 0 5px;
    vertical-align: middle;
}


