.review-preview-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px dotted var(--clr1bg-light);
    width: 140px;
    background-color: var(--clr2);
    position: relative;
    color: whitesmoke;
}

.stars-container {
    display: flex;
    margin-bottom: 10px;
}

.star-review-preview {
    color: yellow;
}

.read-date-review-preview {
    font-size: 1rem;
}

.review-preview-container button {
    background-color: var(--clr1bg-light);
    color: var(--clr2);
}

.review-preview-container button:hover {
    background-color: whitesmoke;
}

.remove-review-btn {
    position: absolute;
    top: -10px;
    right: -15px;
    font-size: 0.5em;
    z-index: 1;
}