.reviews-list-container {
    display: flex;
    border-collapse: collapse;
    width: 100%;
    position: relative;

}

.reviews-list-container button {
    cursor: pointer;
}

.scroll-btn-right {
    height: max-content;
    background-color: #742f70;
    color: whitesmoke;
    font-size: 1.2rem;
    
}

.scroll-btn-left {
    height: max-content;
    background-color: #742f70;
    color: whitesmoke;
    font-size: 1.2rem;
    
}