.user-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    position: fixed;
    top: 30px;
    right: 0; 
    border: 2px dotted rgb(1, 65, 51);
    background-color: aquamarine;
    color: rgb(2, 2, 58);
    border-radius: 0 10px;
    opacity: 0.9;
    padding: 5px;    
}


.user-msg span {
    font-size: 0.8rem;
}

.user-msg button {
    position: absolute;
    top: -5px;
    right: -5px; 
    width: 1px;
    height: 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}