
.book-index-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
}

.book-index-container>button {
    margin: 0;
}