.book-edit-container {
    display:flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    background-color: rgb(236, 197, 227);
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}


.book-edit-container h2 {
    color: var(--clr2)
} 

.edit-book-submit-btn {
    display: inline-block;
    
}