/* main container */
.book-details-container {
    display: grid;
    grid-template-columns: minmax(auto, 30vw);
    grid-template-areas: 
        "tags"
        "list"
        "reviews"
        "nav"
        ;
    padding: 2.5rem 10px 10px 10px;
    background-color: var(--clr1bg);
    margin: 20px auto;  
    height: auto;  
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

/* Tags */
.book-details-tags {
    grid-area: tags;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    text-shadow:  1px 1px 2px #753c3c;
    height: min-content;
}

.on-sale-header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    color: whitesmoke;
    background-color: orangered;
    border: 3px double whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    place-content: center;
    font-weight: 600;
}

.page-count-and-publishdate-tags {
    display: flex;
    justify-content: end;
    gap: 10px;
}
.book-details-page-count-tag {
    border: 3px dotted rgb(145, 73, 73);
    color: rgb(145, 73, 73);
    background-color: rgb(224, 188, 119); 
}

.book-details-published-date-tag {
    border: 3px dotted rgb(63, 138, 148);
    color: rgb(63, 138, 148);
    background-color: rgb(76, 197, 92);
}


.book-details-list {
    grid-area: list;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "grid1 grid2"
        "grid3 grid3"
    ;
}

.book-details-grid1 {
    grid-area: grid1;
}

.book-details-grid2 {
    grid-area: grid2;
    align-self: stretch;    

}

.book-details-grid3 {
    grid-area: grid3;
    grid-column: span 2;
    object-fit: cover;
    align-self: stretch;    
    margin-bottom: 0;
}
.book-details-list p{
    text-decoration: underline;
}

.book-details-list span{
    text-decoration: none;
    display: inline-block;
}

.book-details-grid1 span {
    text-transform: capitalize;
}

/* Reviews container */

.reviews-container {
    grid-area: reviews;
    display: grid;
}

.reviews-container > div {
    align-self: start;
}

.reviews-container > h4 {
    color: var(--clr2);
    place-self: center;
    margin-bottom: 0.5em;
}

.reviews-container button {
    margin-top: 0;
    place-self: center;
    display: inline-block;
    width: max-content;
    margin-bottom: 2em;
}

/* Nav-btns container */

.nav-btns {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

.button-like {
    cursor: pointer;
    background-color: var(--clr2);
    margin: 0.5em;
    border: 1px solid lightgrey;
    padding: 0.5em 0.8em;
    border-radius: 4px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-like:hover {
    background-color:var(--clr1bg-light);
    color: var(--clr2);
    transition: 0.3s;
}

.nav-btns button, a {
    width: 5rem;
    height: 2rem;
}

.book-details-back-btn {
    width: 5rem;
    height: 2rem;
    margin: 0 auto;
    background-color: var(--dark-grey);
    color: white;
}

