:root {
    --clr1: #70C1B3;
    --clr2: #247ba0;

    --clr1bg: #B2DBBF;
    --clr1bg-light: #F3FFBD;
    --dark-grey: rgb(68, 61, 61);
    /* --clr2bg: rgb(233, 206, 221);
    --clr2bg-light: rgb(253, 236, 246);

    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44); */
}