* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
    /* color: var(--dark-grey); */
}

body {
    margin: 0;
    color: var(--dark-grey);
    font-size: 1.2rem;
    background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .5em 0 .5em;
}
p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
    max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
    outline: 1px solid red
}